*{
    padding: 0px;
    margin: 0px;
}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 45px;
    box-sizing: border-box;
    background-color: rgb(245, 152, 255);
    border: 1PX SOLID white;
    padding: 40px;
}
#logo{
    display: flex;
    align-items: center;
}
#logo_pic{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
a{
    color: rgb(52, 1, 52);
    text-decoration: none;
    font-weight: bolder;
}
h1{
    text-align: center;
    margin: 30px;
    text-decoration:underline;
    font-style: italic;
    color: purple;
}
p{
    margin: 20px;
}
#Intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#skills{
    display:flex;
    justify-content: space-evenly;
    gap: 20px;
}
.sk{
    border: 2px solid purple;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(240, 226, 255);
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
#form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center; 
}
input,select,textarea{
    color: purple;
    background-color: rgb(240, 226, 255);
}
